html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.slider-row {
  display: flex;
  flex-direction: row;
}

p {
  text-align: center;
  max-width: 100%;
  font-family: sans-serif;
  margin: 8px 0px;
}